:root{
    --yukkuri-all-width: 60%;
    --yukkuri-img-width: 15%;
}

.title_h1_A{
    color: #364e96; /*文字色*/
    padding: 0.5em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
}

.title_h1_B{
    
}

.button-type_A{
    margin: 20px;
}

.sub_title_div{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.sub_title_div h2{
    padding: 15px 0;
    margin: 0;
    
}

.sub_title_div p{
    padding: 0;
    margin: 0;
}

.icon_a h2{
    background: url(../media/img/icon/icon_info.svg) no-repeat;
    background-size: 66px;
}

.icon_b h2{
    background: url(../media/img/icon/icon_megafon.svg) no-repeat;
    background-size: 66px;
}

.icon_c h2{
    background: url(../media/img/icon/icon_book.svg) no-repeat;
    background-size: 66px;
}


.sample5-2::before{
    left: 3px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #7a0;
    border-right: 2px solid #7a0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*霊夢のセリフ*/
.reimu_content{
    width: var(--yukkuri-all-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.reimu_content img{
    width: var(--yukkuri-img-width);
}

.balloon2-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 600px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px red;
    box-sizing: border-box;
}

.balloon2-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #FFF;
    z-index: 2;
}

.balloon2-left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid red;
    z-index: 1;
}

.balloon2-left p {
    margin: 0;
    padding: 0;
}

#reimuserif {
    text-align: center;
    position: relative;
}

/*魔理沙のセリフ*/

.marisa_content{
    width:var(--yukkuri-all-width);
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: 10px;
}

.marisa_content img{
    width: var(--yukkuri-img-width);
}

.balloon2-right {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 600px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px gold;
    box-sizing: border-box;
}

.balloon2-right:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
    z-index: 2;
}

.balloon2-right:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid gold;
    z-index: 1;
}

.balloon2-right p {
    margin: 0;
    padding: 0;
}

