.title_h1_A{
    color: #364e96; /*文字色*/
    padding: 0.5em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
}

.title_h1_B{
    
}

/*---h2---*/
.sub_title_h2_A{
    background-color: #e9e9e9;
    border-bottom: #006a27 3px solid;
    padding: 8px 0 8px 30px;
    text-align: left;
}

.sub_title_h2_B{
    position: relative;
    height: 50px;
    margin-right: 100px;
    padding: 1.5rem 2rem 0 2rem;
    word-break: break-all;
    color: #fff;
    background: #006a27;
    text-align: left;
}
.sub_title_h2_B:after {
    position: absolute;
    top: 0;
    right: -55px;
    width: 0;
    height: 0;
    content: '';
    border-width: 75px 55px 0 0;
    border-style: solid;
    border-color: #006a27 transparent transparent transparent;
}

/*---h3*/
.sub_title_h3_A{

}

/*---link---*/
.link_type_A>p{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
}

.up_bc_color_A>p{
    color: var(--link-colorA);
    border-color: var(--link-colorA);
}

.up_bc_color_A>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorA);
}

.up_bc_color_B>p{
    color: var(--link-colorB);
    border-color: var(--link-colorB);
}

.up_bc_color_B>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorB);
}

.up_bc_color_C>p{
    color: var(--link-colorC);
    border-color: var(--link-colorC);
}

.up_bc_color_C>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorC);
}


.up_bc_color_D>p{
    color: var(--link-colorD);
    border-color: var(--link-colorD);
}

.up_bc_color_D>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorD);
}

.up_bc_color_E>p{
    color: var(--link-colorE);
    border-color: var(--link-colorE);
}

.up_bc_color_E>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorE);
}

.up_bc_color_F>p{
    color: var(--link-colorF);
    border-color: var(--link-colorF);
}

.up_bc_color_F>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorF);
}

.up_bc_color_G>p{
    color: var(--link-colorG);
    border-color: var(--link-colorG);
}

.up_bc_color_G>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorG);
}

.up_bc_color_H>p{
    color: var(--link-colorH);
    border-color: var(--link-colorH);
}

.up_bc_color_H>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorH);
}

.up_bc_color_I>p{
    color: var(--link-colorI);
    border-color: var(--link-colorI);
}

.up_bc_color_I>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorI);
}

.up_bc_color_J>p{
    color: var(--link-colorJ);
    border-color: var(--link-colorJ);
}

.up_bc_color_J>p:hover{
    color: var(--menu_fcA);
    background-color: var(--link-colorJ);
}

/*---button---*/
.button-type_A{
    margin: 20px;
}

.sub_title_div{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.sub_title_div h2{
    padding: 15px 0;
    margin: 0;
    
}

.sub_title_div p{
    padding: 0;
    margin: 0;
}

.icon_a h2{
    background: url(../media/img/icon/icon_info.svg) no-repeat;
    background-size: 66px;
}

.icon_b h2{
    background: url(../media/img/icon/icon_megafon.svg) no-repeat;
    background-size: 66px;
}

.icon_c h2{
    background: url(../media/img/icon/icon_book.svg) no-repeat;
    background-size: 66px;
}

.icon_d{
    background: url(../media/img/icon/icon_arrow2.svg) no-repeat;
    background-size: 20px;
    background-position-y: 45px;
}
.sample5-2::before{
    left: 3px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #7a0;
    border-right: 2px solid #7a0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*霊夢のセリフ*/
.reimu_content{
    width: var(--yukkuri-all-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.reimu_content img{
    width: var(--yukkuri-img-width);
}

.balloon2-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 600px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px red;
    box-sizing: border-box;
}

.balloon2-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #FFF;
    z-index: 2;
}

.balloon2-left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid red;
    z-index: 1;
}

.balloon2-left p {
    margin: 0;
    padding: 0;
}

#reimuserif {
    text-align: center;
    position: relative;
}

/*魔理沙のセリフ*/

.marisa_content{
    width:var(--yukkuri-all-width);
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: 10px;
}

.marisa_content img{
    width: var(--yukkuri-img-width);
}

.balloon2-right {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 600px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px gold;
    box-sizing: border-box;
}

.balloon2-right:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
    z-index: 2;
}

.balloon2-right:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid gold;
    z-index: 1;
}

.balloon2-right p {
    margin: 0;
    padding: 0;
}

