@charset "utf-8";

/*===========root==========*/
/*
ページ配色の原色設定
*/
:root{
    --mc-b1: ;
    --mc-b2: ;
    --mc-a1: ;
    --mc-a2: ;
    --fc-h1: ;
    --fc-h2: ;
    --fc-h3: ;
}

/*===========タグの記述↓==========*/
/*body,header,main,footer*/
body {
    font-family: "メイリオ" ;
    width: 100%;
    background: #fff;
    margin: 0;
}

header {
    padding: 0;
    margin: 0;
    width: 100%;
}

main{
    padding-bottom: 100px; 
    min-height: 100vh;
}

footer{
    margin: 0;
    padding: 0;
    height: 175px;

    background: #f5fffa;
    text-align: center;
}

/*文字関係*/

h1 {
    text-align: center
}

h2{
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
    text-decoration:none;
}


/*===========id/classの記述↓==========*/
/*--お問い合わせ--*/
#top_header{
    width:100%;
    height: 45px;
    background-color: #006A27;
    margin: 0;
    padding: 0;
}
#top_header div{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#top_header a{
    color: #fff;
    font-size: 15px;
    padding: 11px 0;
    float: right;
}

/*--ロゴ--*/
#logo_top{
    width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#logo_top img{
    text-align: center; /*webサイトの中央？*/
    float: left;
    margin: 0;
    padding: 0;
    width: 400px;
}

#logo_top a{
    float: right;
    margin: 0;
    padding: 38px 0;
}



/*メニュー関連*/
.gnav-wrapper {
    position: relative;
}

.gnav {
    background: #5e5e5e;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.gnav li {
    padding: 25px 0;
    width: 150px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.gnav li:hover {
    background: #3e3e3e;
}

.gnav a {
    font-size: 15px;
    color: #fff;
}

.gnav > li:hover .megamenu {
    max-height: 9999px;
    opacity: 1;
    padding: 30px 0;
}

.megamenu {
    background: #3e3e3e;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    width: 1200px;
    position: absolute;
    top: 74px;
    transition: all .2s ease-in;
    z-index: 999;
}

.megamenu-inner {
    display: flex;
    flex-wrap: wrap;
}

.megamenu-inner li {
    text-align: center;
    width: 45%;
    padding: 0;
}

.megamenu-inner a {
    border-left: none;
}

/*float解除(見えない水平線)*/
.float_clearA{
    clear: both;
    border: 0;
    margin: 0;
    padding: 0;
}

/*コンテンツ*/
.content{
    margin-top: 85px;
}

.content p{
    text-align: left 
}

/*--スライド部分--*/
#slide_content{
    position: relative;  
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#slide_all{
    position: absolute;
    float: left;
}

#slide_all img{
    float: left;
}



/*ゆっくり会話*/
/*後にファイル変更推奨*/
.yukkuri_conversation{
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*--ピックアップ--*/
#pickup_content{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.pu_sub_content{
    width:260px;
    margin: 20px;
    float: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pu_sub_content img{
    width: 240px;
    margin: 10px 10px;
}

/*--ニュース--*/
#bc_news{
    padding-top: 30px;
    background-color: #fbfbfb;
    margin-bottom: 100px;
}

/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 1050px;
    margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    text-align: left;
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}

.tab_sub_content{
    width: 100%;
    border-bottom: #929292 1px solid;
    padding: 10px 0;
}
.tab_sub_content label{
    float: left;
    padding: 0 20px 0 30px;
}
.tab_sub_content p{
    padding: 2px 0px 2px 30px;
    float: left;
    margin: 0;
}
.tab_sub_content:hover{
    border-bottom: #91ffa9 1px solid;
}

.tab_sub_content:hover p{
    color: #91ffa9;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
    display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
}
  



/*--学科情報--*/


#bc_change{
    background-color: #e9f4f5;
    margin-bottom: 100px;
}

#department_div{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.department_img{
    width: 560px;
    margin: 20px;
    float: left;
}

/*--更新ログ--*/
#page_log{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#page_log textarea{
    resize: none;
    width: 100%;
    height: 200px;
}

