/*メニュー関連*/

:root{
    --menu_fcA: #ffffff;
    --menu_fcB: #3a3a3a;
    --menu-colorA: #ad1457;
    --menu-colorB: #4527a0;
    --menu-colorC: #1565c0;
    --menu-colorD: #00838f;
    --menu-colorE: #2e7d32;
    --menu-colorF: #9e9d24;
    --menu-colorG: #ff8f00;
    --menu-colorH: #d84315;
}

.gnav-wrapper {
    position: relative;
}

.gnav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.gnav>li {
    padding: 25px 0;
    width: 150px;
    text-align: center;
    position: relative;
    transition: all .3s ease-in-out;
}

.gnav>li:nth-child(1){
    border-bottom: var(--menu-colorA) 5px solid;
}
.gnav>li:nth-child(2){
    border-bottom: var(--menu-colorB) 5px solid;
}
.gnav>li:nth-child(3){
    border-bottom: var(--menu-colorC) 5px solid;
}
.gnav>li:nth-child(4){
    border-bottom: var(--menu-colorD) 5px solid;
}
.gnav>li:nth-child(5){
    border-bottom: var(--menu-colorE) 5px solid;
}
.gnav>li:nth-child(6){
    border-bottom: var(--menu-colorF) 5px solid;
}
.gnav>li:nth-child(7){
    border-bottom: var(--menu-colorG) 5px solid;
}
.gnav>li:nth-child(8){
    border-bottom: var(--menu-colorH) 5px solid;
}

/*
.gnav>li:nth-child(1):hover {
    background: var(--menu-colorA);
}
.gnav>li:nth-child(2):hover {
    background: var(--menu-colorB);
}
.gnav>li:nth-child(3):hover {
    background: var(--menu-colorC);
}
.gnav>li:nth-child(4):hover {
    background: var(--menu-colorD);
}
.gnav>li:nth-child(5):hover {
    background: var(--menu-colorE);
}
.gnav>li:nth-child(6):hover {
    background: var(--menu-colorF);
}
.gnav>li:nth-child(7):hover {
    background: var(--menu-colorG);
}
.gnav>li:nth-child(8):hover {
    background: var(--menu-colorH);
}
*/

.gnav>li>a {
    font-size: 15px;
    color: #494949;
}

.gnav > li:hover .megamenu {
    max-height: 9999px;
    opacity: 1;
    padding: 30px 0;
}

.megamenu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    width: 1200px;
    position: absolute;
    top: 74px;
    left: 0;
    transition: all .2s ease-in;
    z-index: 999;
}

.megamenu-inner {
    display: flex;
    flex-wrap: wrap;
    color: var(--menu_fcA);
}

.megamenu-inner a {
    border-left: none;
}

.cm_link{
    background: url(../media/img/icon/icon_arrow.svg) no-repeat;
    background-size: 16px;
    background-position-y: 3px;
    padding-left: 30px;
    color: var(--menu_fcA);
}

/*===================子要素======================*/
/*--left1--*/
.menu_div_left1{
    background: var(--menu-colorA);
    left: 0px;
}
.menu_div_left1>ul>li{
    width: calc(100%/2);
}
.menu_div_left1>ul>li>ul{
    padding-left:30px;
    margin: 20px;
    text-align: left;
    border-left: var(--menu_fcA) 1px solid;
}
.menu_div_left1>ul>li>ul>li{
    padding: 15px 0 5px 0;
    font-size: 15px;
}
.menu_div_left1>ul>li>h3{
    background-color: var(--menu_fcA);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    color: var(--menu-colorA);
}

/*--lef2--*/
.menu_div_left2{
    background: var(--menu-colorB);
    left: calc(-150px * 1);
}
.menu_div_left2>ul>li{
    width: calc(100%/3);
}
.menu_div_left2>ul>li>ul{
    padding-left:30px;
    margin: 20px;
    text-align: left;
    border-left: var(--menu_fcA) 1px solid;
}
.menu_div_left2>ul>li>ul>li{
    padding: 15px 0 5px 0;
    font-size: 15px;
}
.menu_div_left2>ul>li>h3{
    background-color: var(--menu_fcA);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    color: var(--menu-colorB);
}

/*--lef3--*/
.menu_div_left3{
    background: var(--menu-colorC);
    left: calc(-150px * 2);
}
.menu_div_left4{
    background: var(--menu-colorD);
    left: calc(-150px * 3);
}
.menu_div_left5{
    background: var(--menu-colorE);
    left: calc(-150px * 4);
}
.menu_div_left6{
    background: var(--menu-colorF);
    left: calc(-150px * 5);   
}
.menu_div_left7{
    background: var(--menu-colorG);
    left: calc(-150px * 6);
}
.menu_div_left8{
    background: var(--menu-colorH);
    left: calc(-150px * 7);
}