@charset "utf-8";

h1 {
    text-align: center
}

img {
    vertical-align:bottom;
}

header {
    padding: 0;
    margin: 0;
}

body {
    background: #eee;
}

h2, p {
    text-align: center;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #a9bce2;
}

.active {
    background-color: #da3c41;
}

/*--ロゴ--*/
#title_logo{
    text-align: center; /*webサイトの中央？*/
    margin: 0;
    padding: 0;
    width: 400px;
}

/*メニュー関連*/
#menu_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b2538;
}

#menu_ul li{
    float: left;
    border-right: 1px solid #bbbbbb;
}


/*float解除(見えない水平線)*/
.float_clearA{
    clear: both;
    border: jqunone;
    margin: 0;
    padding: 0;
}

/*コンテンツ*/
.content{
    margin-top: 85px;
}

.content h1{
    color: #364e96; /*文字色*/
    padding: 0.5em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
}

.content p{
    text-align: left 
}

/*スライド部分*/
#cp_slidewrapper{
    position:relative;
    overflow: hidden;
    height: auto;
    border: 5px solid #f00;
}

#cp_slidewrapper img{
    position: absolute;
    top: 0;

    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: -1;
}

