@charset "utf-8";

/*===========タグの記述↓==========*/
/*body,header,main,footer*/
body {
    width: 100%;
    background: #eee;
    margin: 0;
}

header {
    padding: 0;
    margin: 0;
    width: 100%;
}

main{
    padding-bottom: 100px; 
}

footer{
    background: #f5fffa;
    margin: 0;
    padding: 0;
    height: 175px;
    text-align: center;
}

/*文字関係*/

h1 {
    text-align: center
}

h2, p {
    text-align: center;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

/*その他*/

img {
    vertical-align:bottom;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #a9bce2;
}

.active {
    background-color: #da3c41;
}

/*===========id/classの記述↓==========*/
/*--ロゴ--*/

#title_logo{
    text-align: center; /*webサイトの中央？*/
    margin: 0;
    padding: 0;
    width: 400px;
}

/*メニュー関連*/
#menu_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b2538;
}

#menu_ul li{
    float: left;
    border-right: 1px solid #bbbbbb;
}


/*float解除(見えない水平線)*/
.float_clearA{
    clear: both;
    border: 0;
    margin: 0;
    padding: 0;
}

/*コンテンツ*/
.content{
    margin-top: 85px;
}

.content h1{
    color: #364e96; /*文字色*/
    padding: 0.5em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
}

.content p{
    text-align: left 
}

/*スライド部分*/
#slide_content{
    position: relative;  
    overflow: hidden;
    border: 1px solid rgb(12, 165, 226);
    padding: 0;
    margin: 0;
}

#slide_all{
    position: absolute;
    border: 1px solid rgb(141, 17, 224);
    float: left;
}

#slide_all img{
    border: 1px solid #f00;
    float: left;  
}

/*--プロフィール--*/
.content{
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.profile{
    width: 19.5%;
    float: left;
    margin-right: 0.5%;
}
.profile img{
    width: 100%;
    height: auto;
}

.sentence{
    width: 80%;
    float: left;
}

/*
サインの位置はどうすればよろしいでしょうか？
一応、公式文章ぽく右側に持ってきていますが…
*/
.sentence img{
    width: 10%;
    float: right;
}

/*
「学校長の言葉」を中央ぞろえに
持っていく場合は「.sentence p」の
コメントから外してください
*/

/*
.sentence p{
    text-align: center;
}
*/
