@charset "utf-8";

h1 {
    text-align: center
}

img {
    vertical-align:bottom;
}

header {
    padding: 0;
    margin: 0;
}

body {
    background: #eee;
}

h2, p {
    text-align: center;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #a9bce2;
}

.active {
    background-color: #da3c41;
}
/*--ロゴ--*/
#title_logo{
    text-align: center; /*webサイトの中央？*/
    margin: 0;
    padding: 0;
    width: 400px;
}

/*メニュー関連*/
#menu_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b2538;
}

#menu_ul li{
    float: left;
    border-right: 1px solid #bbbbbb;
}


/*float解除(見えない水平線)*/
.float_clearA{
    clear: both;
    border: none;
    margin: 0;
    padding: 0;
}

/*コンテンツ*/
.content{
    margin-top: 85px;
}

.content h1{
    color: #364e96; /*文字色*/
    padding: 0.5em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
}

.content p{
    text-align: left 
}

/*スライド部分*/
:root{
    --slider-width: 95%;
    /*左方向: -1*/
    /*右方向: 1*/
    --slider-direction: -1 
}

.cp_cssslider {
    width: 1980px;
    height: 720px;
    overflow: hidden;
    margin: 2em auto;
    border: 10px solid #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.cp_slide_item {
    width: 1980px;
    height: 720px;
    float: left;
    position: relative;
}

.cp_slidewrapper {
    width: 500%; /* slideの枚数×100% */
    position: relative;
    left: 0;
    animation: slider 20s infinite ease; /* スピード */
}

@-webkit-keyframes slider {
    /* 100%を枚数で割った%に割り振る */
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-1980px);
        transform: translateX(-1980px);
    }

    40% {
        -webkit-transform: translateX(-3960px);
        transform: translateX(-3960px);
    }

    60% {
        -webkit-transform: translateX(-5940px);
        transform: translateX(-5940px);
    }

    80% {
        -webkit-transform: translateX(-7920px);
        transform: translateX(-7920px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slider {
    /* 100%を枚数で割った%に割り振る */
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-1980px);
        transform: translateX(-1980px);
    }

    40% {
        -webkit-transform: translateX(-3960px);
        transform: translateX(-3960px);
    }

    60% {
        -webkit-transform: translateX(-5940px);
        transform: translateX(-5940px);
    }

    80% {
        -webkit-transform: translateX(-7920px);
        transform: translateX(-7920px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}