.in_text_A{
    width:100%;
    padding:10px 0 10px 0;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    font-size: 18px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 3px;
}

.in_text_A:focus {
    border: 2px solid #ff9900; 
    z-index: 10;
    outline: 0;
}

.in_button{
    width: 100px;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
}

.bt_type_A{
    background-color: #FF1744;
}
.bt_type_A:hover{
    background-color: #FF8A80;
}

.bt_type_B{
    background-color: #2979FF;
}
.bt_type_B:hover{
    background-color: #82B1FF;
}

.error_p{
    width: 100%;
    padding: 10px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #FF8A80;
    border: #FF1744 2px solid;
    border-radius: 3px;
    color: #9e0020;
    text-align: center;

}

/*float解除(見えない水平線)*/
.float_clearA{
    clear: both;
    border: 0;
    margin: 0;
    padding: 0;
}

